<template>
  <div>
    <b-nav vertical class="w-25">
      <b-nav-item active><router-link to="/">Home</router-link></b-nav-item>
      <b-nav-item><router-link to="/Users">Users</router-link></b-nav-item>
      <b-nav-item><router-link to="/Companies">Companies</router-link></b-nav-item>
      <b-nav-item><router-link to="/Jobs">Jobs</router-link></b-nav-item>
    </b-nav>
  </div>
</template>
